<table class="fsbrowser connect" width="100%">
	<form action="" method="POST"><tr>
		<th>URI:</th>
		<td colspan="2"><textarea type="text" name="URI" style="width: 100%; height: 21px !important; resize: horizontal;" rows="1" wrap="off">{URI}</textarea></td>
	</tr>
	<tr>
		<th>label:</th>
		<td><input type="text" name="label" value="{label}" maxlength="9" style="text-transform: lowercase; width: 55px;" class="label" /></td>
		<td width="99%"><input type="hidden" name="action" value="FSbrowser.connect" /><input type="submit" value="Connect" /></td>
	</tr></form>
</table>