<style>
.fileicon, #connection { display: inline-block; background-color: #C9C9C9; width: 16px; height: 16px; margin-right: 8px; text-indent: -9999px; }
#connection.connected, .connected { color: white; background-color: #99F999; }
#connection.unconnected, .unconnected { color: white; background-color: #F99999; }
</style>

<table class="fsbrowser overview">
	<tr>
		<th class="title" colspan="5"><h2 style="text-align:left; padding: 0; margin: 0;">{title}</h2></th>
	</tr>
	<tr>
		<td style="text-align:left;" colspan="5"><small style="color: #BBBBBB;"><strong>{label}</strong>: <em class="{connection:status}" id="label_alt">{URI}</em> <span id="connection" class="{connection:status}" style="visibility: hidden;">[{connection:status}]</span></small></td>
	</tr>
	<tr class="header">
		<th>Name</th>
		<th>Perms</th>
		<th>Last modified</th>
		<th>Size</th>
		<th>Owner</th>
		<th>Group</th>
		<th></th>
		<th>Description</th>
	</tr>
	
	{include:lines()}
	
	<tr>
		<th class="footer" colspan="5">{footer}</th>
	</tr>
	<tr>
		<td class="meta information" colspan="5">{meta-information}</td>
	</tr>
</table>